.pm {
    background-image: url('https://bmkg.go.id/asset/img/bg-cuaca/cerah-berawan-malam.jpg');
    color: #fff;
    font-weight: 600;
}
.am {
    background-image: url('https://bmkg.go.id/asset/img/bg-cuaca/cerah-berawan-siang.jpg');
    color: #fff;
    font-weight: 600;
    
}