.clock {
    background: black;
    /* position: absolute; */
    /* top: 8px;
    right: 16px; */
    font-size: 13px;
    color: #00FF00;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}
.limittext{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.post-desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.warningtext{
    /* padding: 10px; */
    /* background: #eaeaea; */
    max-width: 300px;
    /* margin: 20px auto; */
}

.clock-a:link{
    font-size: 13px;
    margin-left: 5px;
    color: lightgray;
    text-decoration: none;
    letter-spacing: 1px;
}
.clock-a:hover{
    font-size: 13px;
    margin-left: 5px;
    color: #90EE90;
    text-decoration: none;
    letter-spacing: 1px;
}
.clock-a:visited{
    font-size: 13px;
    margin-left: 5px;
    color: lightgray;
    text-decoration: none;
    letter-spacing: 1px;
}
#spacekiri{
    margin-left: 50px;
}
.spacekanan{
    margin-right: 75px;
}

.kaki a:link{
    margin-left: 5px;
    color: rgb(216, 216, 216);
    text-decoration: none;
}
.kaki a:hover{
    font-size: 105%;
    margin-left: 5px;
    color: #90EE90;
    text-decoration: none;
    letter-spacing: 1px;
}
.kaki a:visited{
    margin-left: 5px;
    color: lightgray;
    text-decoration: none;
}
.navbar-brand .slogan {
    display: inline-block;
    color: #333;
    font-family: Arial;
    font-size: 12px;
    margin-bottom: 0;
    /* position: absolute; */
    top: 95px;
    left: 398px;
}

.legend {
    max-width: 130px;
    width: 50%;
    opacity: 0.8;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 500px;
}

.info h4,
h6 {
    margin: 0 0 5px;
    color: #222;
    /* text-align: center; */
}

#map{width:100%;height:175px;margin-top:10px}
.shakemap{margin:0 auto;background-color:#379817;display:table}.shakemap:active{background-color:#2d7b13;border-color:#379817}.tsunami{margin:0 auto;background-color:purple;display:table}.tsunami:active{background-color:#5f005f;border-color:purple}hr{border:none;height:20px}hr:before{content:"* * *";text-align:center;display:block;color:purple;letter-spacing:16px}
#mapmar{width:100%;height:465px;margin-top:20px}
